.titlebar {
    background-image: linear-gradient(to right, blue, black);
    color: white;
    text-align: center;
}

.city-container {
    border: solid 2px black;
}

.custom-historybtn {
    margin: 5px;
    background-color: lightgray;
    text-align: center;
}

.card1,
.card2,
.card3,
.card4,
.card5 {
    background-color: rgb(47, 50, 79);
    color: white;
    padding: 5px;
}